.movie-item {
  max-width: 31rem;

  &__title {
    text-transform: capitalize;
  }

  .card-deck &.card {
    flex-direction: row;
    flex: 1 0 auto;
    margin-bottom: 15px;
  }

  &.card {
    .card-img {
      width: 25%;
    }

    .card-body {
      flex: initial;
      width: 100%;
    }
  }
}